<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <h1>Ain't Nobody Praying For Me</h1>
    </header>
    <section class="topRow">
      <h2>The Most Important Thing On The Page</h1>
      <h6>The Least Important Thing On The Page</h6>
      <p>
        Slurp portland bicycle rights beard, master cleanse keffiyeh letterpress. Sustainable drinking vinegar cronut retro.
      </p>
    </section>
    <section class="topRow">
      <h2>The Most Important Thing On The Page</h1>
      <h6>The Least Important Thing On The Page</h6>
      <p>
        Slurp portland bicycle rights beard, master cleanse keffiyeh letterpress. Sustainable drinking vinegar cronut retro.
      </p>
    </section>
    <section class="topRow">
      <h2>The Most Important Thing On The Page</h1>
      <h6>The Least Important Thing On The Page</h6>
      <p>
        Slurp portland bicycle rights beard, master cleanse keffiyeh letterpress. Sustainable drinking vinegar cronut retro.
      </p>
    </section>
    <section class="bottomRow">
      <h1>The Most Important Thing In This Section</h1>
      <p>
        Poke portland bicycle rights beard, master cleanse keffiyeh letterpress. Sustainable drinking vinegar cronut retro.
      </p>
      <p>
        Derp portland bicycle rights beard, master cleanse keffiyeh letterpress. Sustainable drinking vinegar cronut retro.
      </p>
        <h3 id="pop">POP POP</h3>
    </section>
    <section class="bottomRow">
      <h1>The Most Important Thing In This Section</h1>
      <p>
        Poke portland bicycle rights beard, master cleanse keffiyeh letterpress. Sustainable drinking vinegar cronut retro.
      </p>
      <p>
        Derp portland bicycle rights beard, master cleanse keffiyeh letterpress. Sustainable drinking vinegar cronut retro.
      </p>
        <h3 id="pop">POP POP</h3>
    </section>
    <footer>
      <p>I Do it for BOSTON</p>
    </footer>
  </body>
</html>
