<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <h1>Ain't Nobody Praying For Me</h1>
    </header>
    <section>
      <h2>The Most Important Thing On The Page</h1>
      <h6>The Least Important Thing On The Page</h6>
      <p>
        Slurp portland bicycle rights beard, master cleanse keffiyeh letterpress. Sustainable drinking vinegar cronut retro.
      </p>
    </section>
    <section class="bottomRow">
      <h2>The Most Important Thing On The Page</h1>
      <h6>The Least Important Thing On The Page</h6>
      <p>
        Slurp portland bicycle rights beard, master cleanse keffiyeh letterpress. Sustainable drinking vinegar cronut retro.
      </p>
    </section>
    <section class="bottomRow" id="rightBox">
      <h2>The Most Important Thing On The Page</h1>
      <h6>The Least Important Thing On The Page</h6>
      <p>
        Slurp portland bicycle rights beard, master cleanse keffiyeh letterpress. Sustainable drinking vinegar cronut retro.
      </p>
    </section>
    <footer>
      <p>I Do it for BOSTON</p>
    </footer>
  </body>
</html>
