*{
  box-sizing: border-box
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
a{
  text-decoration: none;
  color:darkcyan;
}
img{
  border-radius: 5px 5px 0 0 ;
}
/* header{
  border:1px solid lightgrey;
  width:100%;
  height:100px;
  clear:both;
  text-align:center;
  color:crimson;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 13px;
 */



.biggie{
  width:100%;
  height:100%;
  margin-top:10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align:center;
  border: none;
}
section{
  width:33.3%;
  padding-left: .7%;
  padding-right: .7%;
  height:60vh;
  float:left;
 font-family:Arial, Helvetica, sans-serif;
 line-height: .4em;

}
.textBlock{
  margin-top: -2.8vh;
  padding-left: .7%;
  padding-left: .7%;
  border-radius: 0 0 5px 5px;
  border-top: none;
  width: 99%;
  margin-left: 1%;
  height: 20vh;
  border: 1px solid lightgrey;
}
.kor{
  border: none;
}
.kor img{
  width:100%;
  height:220px;
  margin-top: 4vh;
}
.kor h3{
  color:darkcyan;
}
.kor h4{
  color:tomato;
}
/* FLATBREAD */

.imgBlock{
  width: 100%;
  height: 37.5vh;
  border: none;
  text-align: center;
}
.flatBread img{
  width:100%;
  height:220px;
  margin-top:0;

}
.flatBread h2{
  color:crimson;
  font-family:Arial Helvetica, sans-serif;
  font-size:15px;
  margin: 0;
  height: 4vh;
}
.flatBread h3{
  color:darkcyan;
}
.flatBread h4{
  color:tomato;
}
.flatBread a{
  text-decoration:none;
  color:darkcyan;
}
.citrus img{
  width:100%;
  height:220px;
  margin-top:4vh;
}
.citrus h3{
  color:darkcyan;
}
.citrus h4{
  color:tomato;
}
.button{
  width:18%;
  margin:2%;
  text-align: center;
}
.see{
  text-align:center;
  width:100%;
  float:left;
}
footer{
  width:100%;
  height:200px;
  clear:both;
  background: rgba(240,245,245,1);
  border: none;
  border-bottom: 3px solid black;
}
footer h2{
  text-align:center;
  color:crimson;
}
.button{
  height: 40px;
}
.button i{
  display: block;
  font-size: 60px;
}

footer section a{
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
}
@media only screen and (max-width: 768px){
  section, .webpage{
    display: block;
  }
