*{
  box-sizing: border-box;
}
header, footer{
  color: green;
  height: 100px;
  border: 3px solid purple;
  padding: 10px;
  clear: both;
}

section{
  background: yellow;
  border: 2px solid black;
  padding: 5px;
  width: 33%;
  float: left;
}

.bottomRow{
  width: 50%;
}
